@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Nunito:wght@300&family=Work+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Nunito:wght@300&family=Open+Sans:wght@300;400&family=Work+Sans:ital,wght@0,300;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Nunito:wght@300&family=Open+Sans:wght@300;400&family=Work+Sans:ital,wght@0,300;0,400;1,300&display=swap");

body {
  background-color: rgb(241, 241, 241) !important;
  color: rgb(0, 0, 0);
  height: 100%;
}

.navbar {
  background-color: rgb(255, 255, 255);
}

.navbar .know {
  color: rgb(0, 0, 0);
  font-size: 1.7em;
  font-weight: 600;
  font-family: "Indie Flower", cursive;
  margin-left: 10px;
}

.navbar-nav li a {
  color: rgb(0, 0, 0);
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 1.1em;
}

.navbar-nav > li {
  padding-left: 1.2em;
  padding-right: 1.2em;
}

/* ---Body conten--- */
.bg-img {
  background-image: url("/asset/bgimage.jpg");
  height: 95vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
