<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="aws.css">
    <link rel="icon" type="image/x-icon" href="/asset/aws_dark.png">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<title>know cloud</title>
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg static-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                <!-- <img src="/asset/aws_dark.png" alt="..." height="20"> -->
                <h5>know cloud</h5>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-center mr-auto align-items-start"
                id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../../index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../cloud/cloud.html" target="_blank">cloud</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" >Aws</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../assesments/assesment.html" target="_blank">assesment</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="page-content">

        <div class="main-image">
            <img src="/asset/awsall.webp" class="img-fluid" alt="Responsive image">
        </div>

        <div class="content">
            <div class="main-heading heading">
                <h1>Amazon Web Services</h1>
            </div>

            <div class="sub-heading heading">
                <p> Amazon Web Services (AWS) is Amazon’s cloud web hosting platform that offers flexible, reliable, scalable, easy-to-use, and cost-effective solutions. </p>
            </div>
            
            <div class="writeup">
            <p> 
            Amazon Web Services (AWS) started to offer IT services to the market in the form of web services in 2006, which is nowadays known as cloud computing. With this cloud, we need not plan for servers and other IT infrastructure which takes up much of time in advance. 
            Instead, these services can instantly spin up hundreds or thousands of servers in minutes and deliver results faster. We pay only for what we use with no up-front expenses and no long-term commitments, which makes AWS cost efficient.
            Today, AWS provides a highly reliable, scalable, low-cost infrastructure platform in the cloud that powers multitude of businesses in 190 countries around the world.
            </p>
            </div>

            <div class="writeup">
                <h3> AWS Compute Services </h3>
                Here, are few Cloud Compute Services offered by Amazon:
                <ul>
                    <li>
                        EC2(Elastic Compute Cloud)- EC2 is a virtual machine in the cloud on which you have OS level control. You can run this cloud server whenever you want.
                    </li>
                    <li>LightSail- This cloud computing tool automatically deploys and manages the computer, storage, and networking capabilities required to run your applications.</li>
                    <li>Elastic Beanstalk- The tool offers automated deployment and provisioning of resources like a highly scalable production website. </li>
                    <li>EKS (Elastic Container Service for Kubernetes)- The tool allows you to Kubernetes on Amazon cloud environment without installation.</li>
                    <li>AWS Lambda- This AWS service allows you to run functions in the cloud. The tool is a big cost saver for you as you to pay only when your functions execute.</li>
                </ul>
            </div>
            
            <div class="writeup">
                <h3> Applications Of AWS Services </h3>
                Amazon Web services are widely used for various computing purposes like:
                <ul>
                    <li>Web site hosting</li>
                    <li>Application hosting/SaaS hosting</li>
                    <li>Media Sharing (Image/ Video)</li>
                    <li>Mobile and Social Applications</li>
                    <li>Content delivery and Media Distribution</li>
                    <li> Storage, backup, and disaster recovery</li>
                    <li>Development and test environments</li>
                    <li>Academic Computing</li>
                    <li>Search Engines</li>
                    <li>Social Networking</li>
                </ul> 
            </div>

            <div class="writeup">
                <h3> Advantages Of AWS </h3>
                <ul>
                  <li>AWS allows organizations to use the already familiar programming models, operating systems, databases, and architectures.</li>
                  <li>It is a cost-effective service that allows you to pay only for what you use, without any up-front or long-term commitments.</li>
                  <li>You will not require to spend money on running and maintaining data centers.</li>
                  <li>Offers fast deployments.</li>
                  <li>You can easily add or remove capacity.</li>
                  <li>You are allowed cloud access quickly with limitless capacity.</li>
                  <li>Total Cost of Ownership is very low compared to any private/dedicated servers.</li>
                  <li>Offers Centralized Billing and management.</li>
                  <li>Offers Hybrid Capabilities.</li>
                  <li>Allows you to deploy your application in multiple regions around the world with just a few clicks.</li>
                </ul>
            </div>

            <div class="writeup">
                <h3> Disadvantages Of AWS </h3>
                <ul>
                   <li>If you need more immediate or intensive assistance, you’ll have to opt for paid support packages.</li>
                   <li>Amazon Web Services may have some common cloud computing issues when you move to a cloud. For example, downtime, limited control, and backup protection.</li>
                   <li>AWS sets default limits on resources which differ from region to region. These resources consist of images, volumes, and snapshots.</li>
                   <li>Hardware-level changes happen to your application which may not offer the best performance and usage of your applications.</li>
                </ul>
            </div>

            <div class="writeup">
                <h3> 3 Simple Steps To Use The AWS Features </h3>
                <p>
                    AWS Management Console is a web application for managing Amazon Web Services. AWS Management Console consists of list of various services to choose from. It also provides all information related to our account like billing.

                    This console provides an inbuilt user interface to perform AWS tasks like working with Amazon S3 buckets, launching and connecting to Amazon EC2 instances, setting Amazon CloudWatch alarms, etc.
                </p>
                <ul>
                    <h4>How to Access AWS?</h4>
                    <li> Step 1 − Click on services. We get a list of various services.</li>
                    <li> Step 2 − Select the choice from the list of categories and we get their sub-categories such as Computer and Database category is selected in the following screenshots.</li>
                    <li> Step 3 − Select the service of your choice and the console of that service will open.</li>
                </ul>
            </div>

            <div class="writeup">
                <h3>Companies Using AWS</h3>
                <ul>
                    <li>Instagram</li>
                    <li>Netflix</li>
                    <li>Twitch</li>
                    <li>LinkedIn</li>
                    <li>Facebook</li>
                    <li>Turner Broadcasting: $10 million</li>
                    <li>Zoopla</li>
                    <li>Smugmug</li>
                    <li>Pinterest</li>
                    <li>Dropbox</li>
                </ul>
            </div>

