<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/x-icon" href="/asset/aws_dark.png">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<title>know cloud</title>
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg static-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                <!-- <img src="/asset/aws_dark.png" alt="..." height="20"> -->
                <h5>know cloud</h5>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-center mr-auto align-items-start"
                id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="page-content">

        <div class="main-image">
            <img src="/asset/awsall.webp" class="img-fluid" alt="Responsive image">
        </div>

        <div class="content">
            <div class="main-heading heading">
                <h1>THE PROCESS</h1>
            </div>

            <div class="sub-heading heading">
                <p> The hosting of a website on AWS platform as various benefits as mentioned earlier. 

                    Starting with creating an AWS account and using the minimal services provided by AWS platform we can host a website hazel-free using the following steps mentioned along.
                     </p>
            </div>
            
            <div class="writeup">
            <h3>The Comparision</h3>
            <h5> Compute, Storage, Databases and Networking </h5>
            <li> For compute, AWS' main offering is its EC2 instances, which can be tailored with a large number of options. It also provides related services such as Elastic Beanstalk for app deployment, the EC2 Container service, ECS for Kubernetes (EKS), AWS Lambda and Autoscaling.</li>

            <li> Meanwhile, Azure's compute offering is centred around its Virtual Machines (VMs), with other tools such as Cloud Services and Resource Manager to help deploy applications on the cloud, and its Azure Autoscaling service.</li>
                
            <li> Google's scalable Compute Engine delivers VMs in Google's data centres. They are quick to boot, come with persistent disk storage, promise consistent performance and are highly customisable depending on the needs of the customer.</li>
                
            <li> All three providers support relational databases – that's Azure SQL Database, Amazon Relational Database Service, Redshift and Google Cloud SQL – as well as NoSQL databases with Azure DocumentDB, Amazon DynamoDB and Google Bigtable.</li>
            
            </div>

            <div class="writeup">
                <h3> How to Use AWS Account? </h3>
                Following are the steps to access AWS services −
                    <ul>
                    <li>Create an AWS account.</li>
                    <li>Sign-up for AWS services.</li>
                    <li>Create your password and access your account credentials.</li>
                    <li>Activate your services in credits section.</li>
                    </ul>
            </div>

            <div class="writeup">
                <h3> Create an AWS Account </h3>
                <p> Amazon provides a fully functional free account for one year for users to use and learn the different components of AWS. You get access to AWS services like EC2, S3, DynamoDB, etc. for free. However, there are certain limitations based on the resources consumed.</p>
                <ul>
                    <li> Step 1 − To create an AWS account, open this link https://aws.amazon.com and sign-up for new account and enter the required details.

                        If we already have an account, then we can sign-in using the existing AWS password.</li>
                    <li> Step 2 − After providing an email-address, complete this form. Amazon uses this information for billing, invoicing and identifying the account. After creating the account, sign-up for the services needed.</li>
                    <li> Step 3 − To sign-up for the services, enter the payment information. Amazon executes a minimal amount transaction against the card on the file to check that it is valid. This charge varies with the region.</li>
                    <li> Step 4 − Next, is the identity verification. Amazon does a call back to verify the provided contact number.</li>
                    <li> Step 5 − Choose a support plan. Subscribe to one of the plans like Basic, Developer, Business, or Enterprise. The basic plan costs nothing and has limited resources, which is good to get familiar with AWS.</li>
                    <li> Step 6 − The final step is confirmation. Click the link to login again and it redirects to AWS management console.</li>
                </ul>
            </div>

            <div class="writeup">
                <h3> The Free Tier </h3>
                <p>Amazon offers a complete set of tools for website management. In fact, most of these tools are available under Amazon's 12-month free tier, meaning that you can start a website from scratch with no money upfront! The only thing you'll have to pay for is a separate domain.
                </p>
                <h3> How To Host a Website On Amazon S3 </h3>
                <ul>
                    <li> First things first, we need to arrange hosting for our website's assets (all of the HTML files, images, etc). For this purpose, Amazon offers their cloud object storage—Amazon S3. To get started with S3, you need to first sign up for the AWS Web Console. </li>
                    <li> Once you've signed up for the console, open it, and search for S3, Amazon's object storage solution.</li>
                    <li> Now click Create bucket. </li>
                    <li> Enter the bucket's name, specify the region and click Next.</li>
                    <li> In the next step, you can enable versioning, server access logging, tagging, object-level logging, and default encryption. We don't need that for now, so just skip these options and click Next.</li>
                    <li> In the next step, you can specify the required permissions. It is important that you select Grant public read access to this bucket in the public permissions drop-down menu. Otherwise, it will be impossible to access the website's contents located in this bucket.</li>
                    <li> Review the bucket's properties and permissions, and click Create bucket.</li>
                    <li> Now, locate your bucket in the bucket list and click on it.</li>
                    <li> Click Upload and upload the assets. In our case, we'll simply add an HTML file and an image to host a simple static page.</li>
                    <li> Well, that was easy enough! Our hosting is now ready, and we can access the assets from anywhere. Just click on the HTML file and try to open the link. You should see the webpage you've uploaded to the bucket. If you only want to use AWS for hosting and want to get the domain elsewhere, you're done! Register your domain at a different company and point it to the link displayed in the screenshot below.</li>
                
                </ul>
            </div>

